body{
  background-image: none;
  background-color: lavenderblush;
}

::selection {
  background-color: magenta;
  color: #ffffff;
}

.dm-slide .dm-code-focus code{
  color: mediumslateblue;
}

.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {
  color:deeppink;
}

.hljs-title {
  color: chocolate;
}

.hljs-comment, .hljs-quote, .hljs-variable{
  color: skyblue;
}

.hljs-attr {
  color: seagreen;
}

.hljs-string, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition {
  color: mediumslateblue;
}